@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  /* Colors */
  --primary-500: #1d2642;
  --primary-400: #324173;
  --primary-300: #475ca3;
  --primary-200: #6f82c0;
  --primary-100: #9fabd5;

  --secondary-500: #726523;
  --secondary-400: #a18f31;
  --secondary-300: #c7b349;
  --secondary-200: #dacc86;
  --secondary-100: #ece6c2;

  --neutral-1000: #333333;
  --neutral-900: #4a4a4a;
  --neutral-800: #606060;
  --neutral-700: #777777;
  --neutral-600: #8e8e8e;
  --neutral-500: #a4a4a4;
  --neutral-400: #bbbbbb;
  --neutral-300: #d2d2d2;
  --neutral-200: #e8e8e8;
  --neutral-100: #ffffff;

  --red-500: #82181a;
  --red-300: #fb2c36;
  --red-400: #c10007;
  --red-200: #ff6467;
  --red-100: #ffc9c9;

  --blue-100: #bedbff;
  --blue-200: #51a2ff;
  --blue-300: #2b7fff;
  --blue-400: #1447e6;
  --blue-500: #1c398e;

  --green-100: #b9f8cf;
  --green-200: #7bf1a8;
  --green-300: #00c950;
  --green-400: #00a63e;
  --green-500: #016630;

  --yellow-100: #fee685;
  --yellow-200: #ffdf20;
  --yellow-300: #f0b100;
  --yellow-400: #d08700;
  --yellow-500: #a65f00;

  --gradient-card: linear-gradient(
    90deg,
    var(--primary-200, rgba(111, 130, 192, 0.7)) 0%,
    var(--primary-400, rgba(50, 65, 115, 0.7)) 100%
  );

  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-jakarta: var(--font-jakarta-sans);

  /* Text */
  --text-h1: 2rem;
  --text-h1--font-weight: 800;
  --text-h1--line-height: normal;
  --text-h1--letter-spacing: 2%;

  --text-h2: 1.75rem;
  --text-h2--font-weight: 800;
  --text-h2--line-height: normal;
  --text-h2--letter-spacing: 4%;

  --text-h3: 1.5rem;
  --text-h3--font-weight: 800;
  --text-h3--line-height: normal;
  --text-h3--letter-spacing: 1%;

  --text-h4: 1.25rem;
  --text-h4--font-weight: 800;
  --text-h4--line-height: normal;
  --text-h4--letter-spacing: 1%;

  --text-h5: 1rem;
  --text-h5--font-weight: 800;
  --text-h5--line-height: normal;
  --text-h5--letter-spacing: 1%;

  --text-h6: 0.75rem;
  --text-h6--font-weight: 800;
  --text-h6--line-height: normal;
  --text-h6--letter-spacing: 1%;

  --text-m1: 1.5rem;
  --text-m1--font-weight: 600;
  --text-m1--line-height: normal;
  --text-m1--letter-spacing: 1%;

  --text-m2: 1.25rem;
  --text-m2--font-weight: 600;
  --text-m2--line-height: normal;
  --text-m2--letter-spacing: 1%;

  --text-m3: 1rem;
  --text-m3--font-weight: 600;
  --text-m3--line-height: normal;
  --text-m3--letter-spacing: 1%;

  --text-m4: 0.75rem;
  --text-m4--font-weight: 600;
  --text-m4--line-height: normal;
  --text-m4--letter-spacing: 1%;

  --text-p1: 1.5rem;
  --text-p1--font-weight: 400;
  --text-p1--line-height: normal;
  --text-p1--letter-spacing: 1%;

  --text-p2: 1.25rem;
  --text-p2--font-weight: 400;
  --text-p2--line-height: normal;
  --text-p2--letter-spacing: 1%;

  --text-p3: 1.125rem;
  --text-p3--font-weight: 400;
  --text-p3--line-height: normal;
  --text-p3--letter-spacing: 1%;

  --text-p4: 1rem;
  --text-p4--font-weight: 400;
  --text-p4--line-height: normal;
  --text-p4--letter-spacing: 1%;

  --text-p5: 0.875rem;
  --text-p5--font-weight: 400;
  --text-p5--line-height: normal;
  --text-p5--letter-spacing: 1%;

  --text-p6: 0.75rem;
  --text-p6--font-weight: 400;
  --text-p6--line-height: normal;
  --text-p6--letter-spacing: 1%;

  --color-primary-500: var(--primary-500);
  --color-primary-400: var(--primary-400);
  --color-primary-300: var(--primary-300);
  --color-primary-200: var(--primary-200);
  --color-primary-100: var(--primary-100);

  --color-secondary-500: var(--secondary-500);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-100: var(--secondary-100);

  --color-red-100: var(--red-100);
  --color-red-200: var(--red-200);
  --color-red-300: var(--red-300);
  --color-red-400: var(--red-400);
  --color-red-500: var(--red-500);

  --color-blue-100: var(--blue-100);
  --color-blue-200: var(--blue-200);
  --color-blue-300: var(--blue-300);
  --color-blue-400: var(--blue-400);
  --color-blue-500: var(--blue-500);

  --color-green-100: var(--green-100);
  --color-green-200: var(--green-200);
  --color-green-300: var(--green-300);
  --color-green-400: var(--green-400);
  --color-green-500: var(--green-500);

  --color-yellow-100: var(--yellow-100);
  --color-yellow-200: var(--yellow-200);
  --color-yellow-300: var(--yellow-300);
  --color-yellow-400: var(--yellow-400);
  --color-yellow-500: var(--yellow-500);

  --background-image-gradient-card: var(--gradient-card);

  --color-neutral-1000: var(--neutral-1000);
  --color-neutral-900: var(--neutral-900);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-100: var(--neutral-100);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

.dark {
  --background: oklch(0.145 0 0);

  --foreground: oklch(0.985 0 0);

  --card: oklch(0.205 0 0);

  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.205 0 0);

  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(0.922 0 0);

  --primary-foreground: oklch(0.205 0 0);

  --secondary: oklch(0.269 0 0);

  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.269 0 0);

  --muted-foreground: oklch(0.708 0 0);

  --accent: oklch(0.269 0 0);

  --accent-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.704 0.191 22.216);

  --border: oklch(1 0 0 / 10%);

  --input: oklch(1 0 0 / 15%);

  --ring: oklch(0.556 0 0);

  --chart-1: oklch(0.488 0.243 264.376);

  --chart-2: oklch(0.696 0.17 162.48);

  --chart-3: oklch(0.769 0.188 70.08);

  --chart-4: oklch(0.627 0.265 303.9);

  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.205 0 0);

  --sidebar-foreground: oklch(0.985 0 0);

  --sidebar-primary: oklch(0.488 0.243 264.376);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.269 0 0);

  --sidebar-accent-foreground: oklch(0.985 0 0);

  --sidebar-border: oklch(1 0 0 / 10%);

  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    background: var(--primary-400);
  }
}
